absurdly-average-zombies {
    max-width: 100%;

    #horizontal-container {
        height: 100px;
        width: 100%;
    }
    
    div.repeated-item {
            padding-right: 4px;
            box-sizing: border-box;
            display: inline-block;
        }
    div.repeated-item img {
        max-height: 80px;
    }

    img.selectedScreenshot {
        margin-top: 10px;
        position: relative;
        display: block;
        max-width: 480px;
        max-height: 100%;
        width: auto;
        height: auto;
    }
}