@import 'https://fonts.googleapis.com/icon?family=Roboto|Material+Icons';
@import '../node_modules/angular-material/angular-material.scss';
@import '../node_modules/material-colors/dist/colors.scss';

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

#page {
  height: 100vh;
}

body {
  overflow: hidden;
}

md-toolbar.footer {
  position: absolute;
  padding: 8px;
  width: 100%;
  bottom: 0;
}